  {% extends "admin_app/admin.html" %}

{% block title %}{% endblock %}
{% block content %}  

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p style=" font-size: large; border-radius: 20%; ">  هل تود بالفعل حذف القيد رقم  {{ object.TranNo }} ؟</p>

            <form action="" method="post">{% csrf_token %}
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'profile-list' %}">إلغاء</a>

				<input class="btn btn-danger" value="تأكيد" type="submit" name="submit">
			</form>
		</div>
	</div>
</div>
{% endblock %}  